/* --------------------------------------------------------------------------  */
/* -------------------------------- HEADER ----------------------------------  */
/* --------------------------------------------------------------------------  */

.header {
    background-color: #181818;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 42px;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logoLink__img {
    width: 117px;
    height: 40px;
    background-image: url("../images/logotype.png");
}

.navbar__content {
    display: flex;
    width: 90%;
}

.navbarList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
}

.navbarList__item {
    margin-right: 20px;
}

.navbarList__link {
    padding: 5px;
    color: #ffffff;
    /*font-family: 'Circle-Regular', sans-serif;*/
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    transition: .3s;
}

.navbarList__link:hover {
    color: #ff2323;
}

.navbarMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    width: 25%;
    cursor: pointer;
}

.navbarBurger {
    margin-right: 12px;
    width: 29px;
    height: 10px;
}

.navbarBurger__line {
    display: block;
    width: 29px;
    height: 2px;
    background-color: #ffffff;
}

.navbarBurger__line:first-child {
    margin-bottom: 6px;
}

.navbarMenu__name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    transition: .3s;
}

.navbarMenu:hover .navbarMenu__name {
    color: #ff2323;
}

.navbarLanguage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 15%;
}

.navbarLanguage__link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.navbarLanguage__arrow {
    margin-left: 9px;
}

.verticalLines {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 0;
    pointer-events: none;
    z-index: 1;
    opacity: .1;
}

.verticalLines__line {
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
}

.verticalLines__line_1 {
    left: 12.7%;
}

.verticalLines__line_2 {
    left: 37.7%;
}

.verticalLines__line_2::before {
    content: "";
    position: absolute;
    left: -7px;
    bottom: 18%;
    width: 7px;
    height: 41px;
    background-color: #ffffff;
}

.verticalLines__line_3 {
    right: 37.45%;
}

.verticalLines__line_4 {
    right: 12.55%;
}

.verticalLines__line_4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 16%;
    width: 7px;
    height: 41px;
    background-color: #ffffff;
}

/* --------------------------------------------------------------------------  */
/* -------------------------------- SLIDER ----------------------------------  */
/* --------------------------------------------------------------------------  */

.mainContent {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 116px);
}

.slider {
    width: 100%;
}

.sliderItem {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: top, center;
}

.sliderItem_1 {
    background-image: url("../images/slider_bg1.jpg");
    border-image-width: unset;
}

.sliderItem__text {
    position: absolute;
    left: 19%;
    top: 30%;
}

.sliderItem__text::before {
    position: absolute;
    left: -19%;
    bottom: 48%;
    content: url("../images/redRectangle.png");
}

.slider__title {
    margin-bottom: 26px;
    color: #ffffff;
    /*font-family: "Bahnschrift - Semi Bold";*/
    font-size: 24px;
}

.slider__mainTitle {
    position: relative;
}

.slider__mainTitle span {
    display: block;
    color: #ffffff;
    /*font-family: "Circe - Extra Bold";*/
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.socialMedia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    background-color: #181818;
}

.socialMediaMenu {
    display: flex;
    transform: rotate(90deg);
}

.socialMediaMenu__item {
    display: flex;
}

.socialMediaMenu__link {
    padding: 5px 20px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1.05px;
    transition: .3s;
}

.socialMediaMenu__link:hover {
    color: #ff2323;
}

.sliderDetails {
    position: absolute;
    right: 14%;
    top: 33%;
    text-align: right;
}

.sliderDetails::before {
    position: absolute;
    left: -10px;
    bottom: 11px;
    background-color: #ff2323;
    width: 50px;
    height: 2px;
    content: "";
}

.sliderDetails::after {
    position: absolute;
    left: 40px;
    bottom: 11px;
    background-color: #ffffff;
    width: 20px;
    height: 2px;
    content: "";
}

.sliderCount {
    display: flex;
    margin-bottom: 134px;
}

.sliderCount__active {
    margin-right: 29px;
    color: #ffffff;
    /*font-family: Bahnschrift;*/
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.sliderCount__all {
    color: #ffffff;
    /*font-family: Bahnschrift;*/
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.sliderNavigation {
    display: inline-flex;
    padding: 5px;
}


/* --------------------------------------------------------------------------  */
/* -------------------------------- PROJECTS --------------------------------  */
/* --------------------------------------------------------------------------  */


.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 8%;
    width: 82%;
    height: 13%;
    background-color: #ffffff;
}

.projects__name {
    margin-right: 13%;
    color: #070707;
    /*font-family: Bahnschrift;*/
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.projects__info {
    margin-right: 13%;
    color: #868686;
    /*font-family: "Proxima Nova";*/
    font-size: 14px;
}

.projects__info span {
    display: block;
}

.projectsArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff2323;
    cursor: pointer;
}

.projectsArrow:hover {
    background-color: #ff0000;
}

.projectsArrow::before {
    content: url("../images/projects__arrow.png");
}

/* --------------------------------------------------------------------------  */
/* -------------------------------- TABLET ----------------------------------  */
/* --------------------------------------------------------------------------  */


